<div>
    <div class="login-body">
        
        <!-- card starts here -->
        <div class="login-form">
            <div class="card-header"> Welcome Text </div>
            <div>
                <input type="text" name="txt" placeholder="Cluster endpoint" required=""> <br>
                <input type="email" name="email" placeholder="" required=""> <br>
                <input type="password" name="pswd" placeholder=" " required=""> <br>
                <span class="center-span"><button type="submit"><a routerLink="/service-selection">Login</a></button></span>
            </div>
        </div>
        <!-- card ends here -->
        

    </div>
</div>


