<div class="progress-card" *ngFor="let status of partitions; index as i;">
    <div class="row1">
      <div class="column">
        <div class="arrows">
            <div class="arrow" [ngClass]="{'ongoing': status[0] == 'ongoing', 'completed': status[0] == 'completed', 'error': status[0] == 'error', 'idle': status[0] == 'idle' }">
                <div class="button" (click)="showOverallProgress = false; showCopyProgress=true; showCatchupProgress = false; showDowntimeProgress=false">
                  <p><span class="hovertext" data-hover="Show copy phase details">Copy</span></p>
                </div>
              </div>
              <div class="button" (click)="showOverallProgress = false; showCatchupProgress=true; showCopyProgress=false; showDowntimeProgress=false">
                <div class="arrow" [ngClass]="{'ongoing': status[1] == 'ongoing', 'completed': status[1] == 'completed', 'error': status[1] == 'error', 'idle': status[1] == 'idle' }">
                  <span class="hovertext" data-hover="Show Catchup phase details">Catchup</span>
                </div>
              </div>
              <div class="button" (click)="showOverallProgress = false; showDowntimeProgress=true; showCopyProgress=false; showCatchupProgress = false">
                <div class="arrow" [ngClass]="{'ongoing': status[2] == 'ongoing', 'completed': status[2] == 'completed', 'error': status[2] == 'error', 'idle': status[2] == 'idle' }">
                  <span class="hovertext" data-hover="Show Dwontime phase details">Downtime</span>
                </div>
              </div>
              
              <div class="button" (click)="showOverallProgress = true; showCopyProgress=false; showCatchupProgress = false; showDowntimeProgress=false">
                <div class="arrow" [ngClass]="{'ongoing-end': status[3] == 'ongoing', 'completed-end': status[3] == 'completed', 'error-end': status[3] == 'error', 'idle-end': status[3] =='idle' }">
                  <span class="hovertext" data-hover="Show overall details">Completed</span>
                </div>
              </div>

        </div>
      </div>
      <div class="column" style="color:white;">
        <p class="title"> <b>Partition {{allPartitions[i]}}</b></p>
        <div class="progress1-text">
            
                <div class="overall-progress" *ngIf="showOverallProgress">
                  <p class="small-text">Overall Progress</p>
                  <p><b>start time:</b> {{migrationProgressDetails.startDateTimeUTC}}</p>
                  <p><b>end time: </b>{{migrationProgressDetails.endDateTimeUTC}}</p>
                  <p><b>start seq number: </b>{{migrationProgressDetails.startSeqNum}}</p>
                  <p><b>end seq number: </b>{{migrationProgressDetails.endSeqNum}}</p>
                  <p><b>last applied seq no.:</b> {{migrationProgressDetails.lastAppliedSeqNum}}</p>
                  <p><b>no. of keys migrated:</b> {{migrationProgressDetails.noOfKeysMigrated}}</p>

                </div>
                <div class="copy-progress" *ngIf="showCopyProgress">
                  <p class="small-text">Copy Progress</p>
                  <p><b>start time:</b> {{migrationProgressDetails.phaseResults[0].startDateTimeUTC}}</p>
                  <p><b>end time: </b>{{migrationProgressDetails.phaseResults[0].endDateTimeUTC}}</p>
                  <p><b>start seq number: </b>{{migrationProgressDetails.phaseResults[0].startSeqNum}}</p>
                  <p><b>end seq number: </b>{{migrationProgressDetails.phaseResults[0].endSeqNum}}</p>
                  <p><b>last applied seq no.:</b> {{migrationProgressDetails.phaseResults[0].lastAppliedSeqNum}}</p>
                  <p><b>no. of keys migrated:</b> {{migrationProgressDetails.phaseResults[0].noOfKeysMigrated}}</p>
                  <p><b>worker count: </b>{{migrationProgressDetails.phaseResults[0].workerCount}}</p>
                </div>
                <div class="catchup-progress" *ngIf="showCatchupProgress">
                  <p class="small-text">Catchup Progress</p>
                  <p><b>start time:</b> {{migrationProgressDetails.phaseResults[1].startDateTimeUTC}}</p>
                  <p><b>end time: </b>{{migrationProgressDetails.phaseResults[1].endDateTimeUTC}}</p>
                  <p><b>start seq number: </b>{{migrationProgressDetails.phaseResults[1].startSeqNum}}</p>
                  <p><b>end seq number: </b>{{migrationProgressDetails.phaseResults[1].endSeqNum}}</p>
                  <p><b>last applied seq no.:</b> {{migrationProgressDetails.phaseResults[1].lastAppliedSeqNum}}</p>
                  <p><b>no. of keys migrated:</b> {{migrationProgressDetails.phaseResults[1].noOfKeysMigrated}}</p>
                  <p><b>worker count: </b>{{migrationProgressDetails.phaseResults[1].workerCount}}</p>
                </div>
                <div class="downtime-progress" *ngIf="showDowntimeProgress">
                  <p class="small-text">Downtime Progress</p>
                  <p><b>start time:</b> {{migrationProgressDetails.phaseResults[2].startDateTimeUTC}}</p>
                  <p><b>end time: </b>{{migrationProgressDetails.phaseResults[2].endDateTimeUTC}}</p>
                  <p><b>start seq number: </b>{{migrationProgressDetails.phaseResults[2].startSeqNum}}</p>
                  <p><b>end seq number: </b>{{migrationProgressDetails.phaseResults[2].endSeqNum}}</p>
                  <p><b>last applied seq no.:</b> {{migrationProgressDetails.phaseResults[2].lastAppliedSeqNum}}</p>
                  <p><b>no. of keys migrated:</b> {{migrationProgressDetails.phaseResults[2].noOfKeysMigrated}}</p>
                  <p><b>worker count: </b>{{migrationProgressDetails.phaseResults[2].workerCount}}</p>
                </div>
            
        </div>
    
    
        <div class="progress1-button" style="color: white;">
            <div  *ngIf="modeOfMigration === 'manual'"><button type="button" class="btn btn-info ">Invoke Downtime</button> <p> </p></div>
            <div *ngIf="showAbort"><button type="button" class="btn btn-info" (click)="AbortMigration()">Abort</button></div>
        </div>
      </div>
    </div>
</div>

