$dashboard-margin: 12px;
$dashboard-padding: 7px;
$dashboard-datapoint-leftbar-width: 3px;
$dashboard-tile-title-font-size: 11pt;
$dashboard-tile-number-font-size:72px;
$dashboard-datapoint-number-font-size: 24pt;
$dashboard-datapoint-large-width: 72px;

$dashboard-large-padding-vertical: 17px;

$dashboard-small-donut-size: 126px;
$dashboard-small-title-font-size: 11pt;
$dashboard-small-number-font-size: 50px;
$dashboard-small-datapoint-number-font-size: 16pt;
$dashboard-small-datapoint-title-font-size: 11pt;
$dashboard-small-padding-horizontal: 12px;

.progress-card{
    display: inline-flex;
    grid-template-columns: auto auto;
    vertical-align: top;
    height: 100%;
    width: 430px; 
    border: 1px solid var(--accent-darkblue);
    padding: 1.2rem;
    margin:5px;
    a {
        text-decoration: none;
        color: var(--font-primary-color) !important;
    }
    font-size:medium;
    border-radius: var(--primary-border-radius);
}












.dashboard-container-small {
    display: inline-block;
    vertical-align: middle;
    width: 270px;
}



.dashboard-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    vertical-align: top;
    height: 100%;
    width: fit-content;
    min-width:380px; 
    border: 3px solid white;
    padding: 1.2rem;
    a {
        text-decoration: none;
        color: var(--font-primary-color) !important;
    }

    .dashboard {
        box-shadow: var(--primary-box-shadow);
        border-radius: var(--primary-border-radius);
        color: var(--font-primary-color);
        padding: $dashboard-padding;
        background: var(--primary-background-color);
        text-align: center;
        height: 100%;
        min-width: fit-content;
        width: 90%;

        &.has-view-path {
            cursor: pointer;
        }

        .dashboard-tile {
            display: block;
            position: relative;
            text-align: left;
            width: 100%;
            height: 100%;

            .dashboard-tile-inner {
                position: relative;
                width: 100%;
                height: 100%;
                padding-left: $dashboard-datapoint-leftbar-width * 2 + 10px !important;

                .dashboard-tile-leftbar {
                    width: $dashboard-datapoint-leftbar-width * 2;
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;

                    &.badge-upgrade-active {
                        background: var(--accent-darkblue);
                    }

                    &.badge-upgrade-inactive {
                        background: var(--accent-background-color);
                    }
                }

                .dashboard-tile-title {
                    display: block;
                    font-size: $dashboard-tile-title-font-size;
                    line-height: 0.9;
                }

                .dashboard-tile-number {
                    display: block;
                    font-size: $dashboard-tile-number-font-size;
                    line-height: 1;
                    margin: 20px 0;
                }
            }
        }
    }

    .dashboard-large {
        padding: $dashboard-large-padding-vertical $dashboard-padding;
        position: relative;
        display: flex;
        flex-direction: column-reverse;

        .dashboard-datapoints {
          margin: 20px 5px 0 5px;
          display: flex;
          justify-content: space-evenly;

            .dashboard-datapoint {
                flex: 1;

                .dashboard-datapoint-title {
                    font-size: var(--font-size-default);
                }

                .dashboard-datapoint-number {
                    font-size: $dashboard-datapoint-number-font-size;
                }
            }
        }
    }

    .dashboard-small {
        padding: $dashboard-padding $dashboard-small-padding-horizontal;
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;

        .dashboard-datapoints {
            margin: 0 0 0 20px;
            float: right;

            .dashboard-datapoint {
                height: 36px;
                padding: 0 0 0 14px;
                margin: 4px 0 8px 0;

                .dashboard-datapoint-title {
                    font-size: $dashboard-small-datapoint-title-font-size;
                }

                .dashboard-datapoint-number {
                    font-size: $dashboard-small-datapoint-number-font-size;
                    width: 54px;
                }
            }
        }
    }
}
.dashboard-wrapper {
    width: min-content;
}

.progress1-text{
    color: var(--font-primary-color);
    padding: 4px;
    margin-top: 5px;
}

.progress1-button button{
    width: 100%;
    padding: 6px;
    margin: 0px;
    margin-bottom: 3px;
    color: white;
    font-size: small;
    background-color: var(--primary-background-color);
}

.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    min-width: 550px;
    overflow-x: scroll;
}

.container {
	font-family: 'Lato', sans-serif;
	width: 800px;
	margin: 0 auto;
}

.wrapper {
	display: table-cell;
	height: 400px;
	vertical-align: middle;
}

.nav {
	margin-top: 40px;
}

.pull-right {
	float: right;
}

a, a:active {
	color: #333;
	text-decoration: none;
}

a:hover {
	color: #999;
}
//////////////////////////////////////////////////////////////////////////////////////////////////@at-root
/// delete from here
/* Breadcrups CSS */

.arrow-steps .step {
	font-size: 14px;
	text-align: center;
	color: #666;
	cursor: default;
	margin: 0 3px;
	padding: 10px 10px 10px 30px;
	min-width: 180px;
	float: left;
	position: relative;
	background-color: #d9e3f7;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
  transition: background-color 0.2s ease;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
	content: " ";
	position: absolute;
	top: 0;
	right: -17px;
	width: 0;
	height: 0;
	border-top: 19px solid transparent;
	border-bottom: 17px solid transparent;
	border-left: 17px solid #d9e3f7;	
	z-index: 2;
  transition: border-color 0.2s ease;
}

.arrow-steps .step:before {
	right: auto;
	left: 0;
	border-left: 17px solid var(--primary-background-color);	
	z-index: 0;
}

.arrow-steps .step:first-child:before {
	border: none;
}

.arrow-steps .step:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.arrow-steps .step span {
	position: relative;
}

.arrow-steps .step span:before {
	opacity: 0;
	content: "✔";
	position: absolute;
	top: -2px;
	left: -20px;
}

.arrow-steps .step.done span:before {
	opacity: 1;
	-webkit-transition: opacity 0.3s ease 0.5s;
	-moz-transition: opacity 0.3s ease 0.5s;
	-ms-transition: opacity 0.3s ease 0.5s;
	transition: opacity 0.3s ease 0.5s;
}

.arrow-steps .step.current {
	color: #fff;
	background-color: #23468c;
}

.arrow-steps .step.current:after {
	border-left: 17px solid #23468c;	
}

//  =========================================== 

/* The button-maker */
@mixin arrow-button($color, $background, $shadow, $font-size, $width, $height, $direction) {  
    background: none;
    border: 0;
    font-size: $font-size;
    line-height: $height;
    position: relative;
    width: $width;
    height: $height;
    
    @if $direction == "down" {
      transform: rotate(90deg);
    }
    
    a {
      color: $color;
      text-decoration: none;
      position: relative;
      z-index: 10;
    }
    
    &::before,
    &::after {
      background: $background;
      border-radius: 2px;
      content: '';
      display: block;
      position: absolute;
        left: 0;
        right: 0;
      transition: all 1s;
      height: $height/2;
    }
    
  
    &::before { 
      box-shadow: 
        -1px 1px 0 $shadow,
        -2px 2px 0 $shadow,
        -3px 3px 0 $shadow,
        -4px 4px 0 $shadow;
      transform: skew(45deg);
      @if $direction == "left" { bottom: 0; z-index: 1 }
      @else { top: 0; }
    }
  
    &::after {
      box-shadow: 1px 1px 0 $shadow, 
        2px 2px 0 $shadow,
        3px 3px 0 $shadow, 
        4px 4px 0 $shadow;
      transform: skew(-45deg);
      @if $direction == "left" { top: 0;}
      @else { bottom: 0; }
    }
    
    &:hover::before,
    &:hover::after {
      background: lighten($background,15%);
    }
    
    &:focus {
        &::before,
        &::after {
          background: lighten($background,15%);
        }
        outline: 0;
    }
  }
  

  

  .btn-down {
    @include arrow-button(#fff, #29c0d5, #1897c0, 22px, 6em, 4em, down);
    margin-top: 3em;
  }
  
  @keyframes zoom {
    25% {
      transform: scale3d(1.5,1.5,0);
    }
    
    50% {
      transform: scale3d(1,1,0);
    }
    
    75% {
      transform: scale3d(1.25, 1.25, 0);
    }
  }
  
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
  /* Page styling */
  
   button a {
    top: -2px; // Better alignment for font
  }


