.services{
    color: white;
    border: 1px solid var(--accent-darkblue);
    border-radius: var(--primary-border-radius);
    margin: auto;
    padding: 24px;
    position: relative;
    width: 65%;
}
.services h4{
    font-weight: 650;
    text-decoration: underline;
    text-transform: capitalize;
}
.services ul li{
    background-color: var(--accent-background-color);
    color: var(--font-primary-color);
}
.services ul li a{
    color: var(--font-primary-color);
    font-size: medium;
    text-decoration: none;
}
.services ul li a:hover{
    background-color: var(--primary-background-color);
    padding: 5px;
    border-radius: var(--primary-border-radius);
}
.service-list{
    margin-left: 20px;
}
.partition-list{
    margin-left: 38px;
}
.progress1-button{
    text-align: center;
}
.progress1-button button{
    width: 40%;
    padding: 6px;
    margin: auto;
    color: white;
    font-size: small;
    background-color: var(--primary-background-color);
}
.progress1-button button a{
    text-decoration: none;
    font-weight: 550;
    color: var(--font-primary-color);
}