
<div class="services">
    <span style="vertical-align: middle; margin-left: 15px; font-size: larger; font-weight: 600;">Select your RC service to migrate:</span>

    <div class="form-group">
        <ul class="list-group list-group-flush">
            <hr>
    
            <li class="list-group-item" *ngFor="let app of listApplications; index as i;">
    
                <p class="title">{{app}}</p>
                <div *ngFor="let service of allServices" class="service-list">
                    <div *ngIf="listServices[service.Id] == app">
                        <label>
                            <input type="checkbox" value="{{service.Name}}"
                                [checked]="isChecked(service.Id)"
                                (change)="updateSelectedServices(service.Id, $event)" />
                                {{service.Name}}
                        </label>
                    </div>
                </div>
                <hr>
            </li>
        </ul>
        <div class="progress1-button" style="color: white;">
            <div ><button type="button" class="btn btn-info " [routerLink]="['/automigration']">Continue</button></div>
        </div>
        
    </div>

 
</div>
