
<div class="services">
    <span style="vertical-align: middle; margin-left: 15px; font-size: larger; font-weight: 600;">Select your RC service to migrate:</span>

    <ul class="list-group list-group-flush">
        <hr>

        <li class="list-group-item" *ngFor="let app of listApplications; index as i;">
            
            <b>{{app}}</b>
            <ul class="list-group list-group-flush">
                <div *ngFor="let service of allServices; index as i;">
                    <div class="" *ngIf="listServices[service.Id] == app"><a routerLink="automigration/{{listServices[service.Id]}}/{{service.Id}}">Service: {{service.Name}} |  Applicaiton: {{listServices[service.Id]}} 
                    </a></div>
                </div>
                
            </ul>
            <hr>    
        </li>
        
    </ul>

</div>