
<div class="services">
    <span style="vertical-align: middle; margin-left: 15px; font-size: larger; font-weight: 600;">Select your RC service to migrate:</span>

    <div class="form-group">
        <ul class="list-group list-group-flush">
            <hr>
    
            <li class="list-group-item" *ngFor="let app of allMigrationListener; index as i;">
    
                <p class="title">{{app.app_name}}</p>
                <div *ngFor="let service of app.service_details" class="service-list">

                        <label>
                            <input type="checkbox" value="{{service.service_name}}"
                                [checked]="isCheckedService(app.app_id, service.service_id)"
                                (change)="checkSelectedServices(app.app_id, service.service_id)" />
                                {{service.service_name}}
                        </label>
                        <p class="title mt-2">List of partitions:</p>
                        <div class="partition-list" *ngFor="let partition of service.partition_details">
                            <label>
                                <input type="checkbox" value="{{partition.partition_id}}"
                                [checked]="isCheckedPartition(app.app_id, service.service_id, partition.partition_id)"
                                (change)="checkSelectedPartitions(app.app_id, service.service_id, partition.partition_id)"
                                />
                                {{partition.partition_id}}
                            </label>
                        </div>
                    </div>
                <hr>
            </li>
        </ul>
        <div class="progress1-button" style="color: white;">
            <div ><button type="button" class="btn btn-info " [routerLink]="['/migration']">Continue</button></div>
        </div>
        
    </div>

 
</div>
