$left-panel-width: 400px !default;
$right-panel-min-width: 200px !default;

.navbar-brand {
    color: var(--font-primary-color);
    font-size:var(--font-size-large);
    position: relative;
    font-weight: lighter;
    padding: 12px;
    vertical-align: -webkit-baseline-middle;
    margin-right: 0px;
    &.navbar-brand-azure {
        background-color: var(--accent-darkblue);
    }

    .navbar-brand-icon {
        display: inline-block;
        margin-right: 14px;
    }
}


.header-bar {
    height: 50px;
    background-color: var(--primary-background-color);
    box-shadow: var(--heavy-box-shadow);
    color: white;
    position: relative;
    right: 0;
    left: 0;
    z-index: 100;

    display: flex;
    flex-direction: row;
    align-items: center;

}


.main-content {
    position: absolute;
    overflow: auto;
    margin: auto;
    width: 80%;
    left: 10%;
    right: 10%;
    background-color: var(--secondary-background-color);
    min-height: calc(100vh - 50px);
    box-shadow: var(--heavy-box-shadow);

}

@media (max-width: 796px) {
    .main-content {
        width:100%;
    }

}

.slider-bar {
    z-index: 1;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 15px;
    background-color: black;
    cursor: col-resize; height: 100%;
}
.main-inside{
    margin: 1.2rem;
    padding: 1.5rem;
    border: 2px rgb(144, 144, 144) solid;
    border-radius: 16px;
    // min-height: 100%;
}